{% extends "network/layout.html" %}

{% block body %}
    <div class="card">
        <div.card-body>
            <h3>{{ perfil.username }}</h3>
            <div class="d-flex gap-4">
                <div>
                    <strong id="followers-count">
                        followers: {{  followers_count  }}
                    </strong> 
                    <br/>
                    <strong>
                        following: {{  following_count  }}
                    </strong>  
                </div>
            <div>
            
            {% if user.is_authenticated and user != perfil %}
                <button id="follow-btn" onclick="toggleFollow('{{ perfil.username }}')" class="btn btn-primary mt-2">
                    {% if is_following %}
                        Unfollow
                    {% else %}
                        Follow
                    {% endif %}
                </button>
            {% endif %}
        </div> 
    </div>

    <h4 class="mt-4"> Posts </h4>
    {% include "network/posts_list.html" %}

    <script>
        function toggleFollow(username){
            fetch(`/follow/${username}`,{
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken,
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('followers-count').textContent = data.followers_count;
                const btn = document.getElementById('follow-btn');
                btn.textContent = data.is_following ? 'Unfollow' : 'Follow';
            });
        }
    </script>
{% endblock %}